:root {
    /* Cores principais */
    --primary: #2563eb;
    --primary-hover: #1d4ed8;

    --secondary: #14b8a6;
    --secondary-hover: #0f766e;

    /* Fundo */
    --background: #f8fafc;
    --surface: #ffffff;

    /* Texto */
    --text: #1f2937;
    --text-light: #6b7280;
    --text-white: #ffffff;

    /* Bordas */
    --border: #d1d5db;

    /* Estados */
    --success: #22c55e;
    --warning: #f59e0b;
    --danger: #ef4444;
    --info: #3b82f6;

    /* Sombras */
    --shadow: rgba(0, 0, 0, 0.12);

    /* Extras */
    --radius: 8px;
    --transition: 0.3s ease;
}
#id{
    display: none;

}
p{
    color: var(--warning);
}
#cadastrar{
    width: 500px;
    margin-top: 100px;
    margin-left: 550px;
background: rgba(255, 255, 255, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
border: 1px solid rgba(255, 255, 255, 1);
}
/* =========================================
   ESTILO GERAL
========================================= */

body {
    background-image: url("foto1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}



button{
    background: var(--primary);
    color: var(--text-white);
    border: none;
    padding: 12px 20px;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
}

/* Inputs */

input{
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 10px;
    background: var(--surface);
    color: var(--text);
}

#resultado{
  display: flex;
  
}
.card-cliente{
    margin-left: 10px;
   
}


