#id{
    display: none;

}
p{
    color:rgb(69, 58, 167);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold
}
h2{
    color: rgba(255, 187, 0, 0.7);;
}
#cadastrar{
    width: 500px;
    margin-top: 75px;
    margin-left: 550px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 1);
}

body {
    background-image: url("foto1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:  #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}



button{
    background: rgba(255, 187, 0, 0.7);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: 2;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
#zap{
    background: rgba(26, 170, 6, 0.7);
}

input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    background-color: #5a51519c;
    color: white;
}

#resultado{
     display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 30px auto;
    width: 90%;
}
.card-cliente{
    width: 220px;
    padding: 15px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
   
}
.container-checkbox{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
#semana{
    display: flex;
    justify-content: center;
}

#letras{
    color:rgb(69, 58, 167);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold
}


